.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - (var(--navbarHeight) + var(--footerHeight)));
  width: 100%;
  max-width: var(--max-width);
  margin: 0 1.45rem;
}

.notFoundHeader {
  font-size: 5rem;
  color: var(--primary);
  letter-spacing: var(--letterSpacing);
}

.notFoundText {
  color: var(--black);
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 1.1rem;
}

.link {
  font-size: 1.5rem;
}

.link:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .notFoundText {
    font-size: 1.2rem;
  }
}
