.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  gap: 1px;
  min-height: var(--heightCalc);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding-top: var(--padding);
  min-height: var(--heightCalc);
}

.cardWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  padding: 12px;
  border: 1px solid var(--grey-200);
  border-radius: var(--borderRadius);
  cursor: pointer;
  transition: var(--transition);

  background: var(--grey-0);

  & > span {
    min-width: 115px;
    min-height: 115px;
    max-width: 115px;
    max-height: 115px;
  }

  img {
    border-radius: var(--borderRadius);
    width: 100%;
  }

  &:hover {
    box-shadow: var(--shadow-2);
  }
}

.data {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 7px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  .title {
    font-size: 1.5rem;
    font-weight: 700;

    &:hover {
      text-decoration: underline;
    }
  }

  .stars {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
    align-items: center;
  }

  .count {
    font-size: 0.9rem;
    font-weight: 300;
  }

  .tags {
    font-size: 0.9rem;
    display: flex;
    gap: 3px;
  }

  .address {
    font-size: 0.9rem;
  }
}

.cardWrapper:last-of-type {
  margin-bottom: 20px;
}

.tooltipWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  padding: 5px;

  img {
    border-radius: var(--borderRadius);
  }

  .data {
    gap: 2px;

    .title {
      font-size: 1rem;
    }

    .count {
      font-size: 0.8rem;
    }

    .tags {
      font-size: 0.8rem;
      display: flex;
      gap: 3px;
    }

    .address {
      font-size: 0.8rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    overflow: hidden;
  }

  .cardWrapper {
    margin-right: 20px;

    & > span {
      min-width: 100px;
      min-height: 100px;
      max-width: 150px;
      max-height: 150px;
    }
  }

  .list {
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    max-height: var(--heightCalc);
  }
}
